diamonds.zip
Include
Lib
pyvenv.cfg
Scripts
share
complete_data_to_value.xlsx
coords_diamonds.xlsx
LatexInfo
documentacion.R
notas.txt
transform.ipynb
sandbox.ipynb
pr.txt
complete_data_to_value2.csv
.Rhistory
